@import "src/styles/mixins.module";
@import "src/styles/variables.module";
.user {
    display: flex;
    align-items: start;
    font-size: 1.6rem;
    border-bottom: 2px solid gray;
    .photoBlock {
        .photo {
            height: 10rem;
            width: 10rem;
            border-radius: 50%;
        }
    }
    .aboutUser{
        padding-top: 2rem;
        .name {
            margin-bottom: 1rem;
        }
        .status {

        }
    }
    .follow {
        text-align: end;
        padding-right: 2rem;
        width: 100%;
        align-self: center;
        justify-self: end;
        button {
            border-radius: 10px;
            transition: all 0.2s ease;
            background: $secondary;
            padding: 0.5rem 1rem;
        }



        &:hover {

        }
    }
}



