.posts {
    z-index: 10;
    position: relative;
    padding: 10px 10px;
    margin: 0;
    .createPost {
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 5fr;
        grid-row-gap: 10px;
        .createPostTitle {
            font-size: 1.2rem;
            text-transform: uppercase;
            align-self: center;
            justify-self: center;
        }
    }
}



