
.users {
  & img {
    width: 100px;
    height: 100px;
  }

}

.pageNumbers {
  display: flex;
  flex-wrap: wrap;
  .selectPage {
    display: inline-block;
    font-weight: 600;
    color: red;
    margin-left: 1px;
  }
}
