$bgcolor: linear-gradient(180deg, rgba(230, 212, 222, 1) 0%, rgba(152, 144, 199, 1) 100%);

$primary: rgba(33, 33, 36, 7);
$secondary: #444446;
$third: rgba(33, 38, 143, 1);

$borderInputColor: rgba(45, 46, 70, 0.2);

$btnActiveColor: rgb(154, 145, 200);
$btnDefaultColor: rgba(215, 216, 239, 1);


