
.header {
    grid-area: header;
    padding: 10px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 2px 16px 10px rgba(34, 60, 80, 0.27);
}

.header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.loginBlock {

}
