
.header {
  box-shadow: -206px 14px 155px 32px #baa7a7;
  grid-area: header;
  padding: 10px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  &_loginBlock {
    & a {
      color: wheat;
    }
  }
}
