@import "../../style/variables";
@import "../../style/mix";
.header {
  background-color: $profile-primaty;
  grid-area: header;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  .navBurger{
    @include flex (center,space-between,row);
    .burger {
      position: relative;
      input {
        opacity: 0;
      }
      label {
        position: absolute;
        left: 0;
        top: 0;
        height: 18px;
        width: 20px;
        z-index: 5;
      }
      span {
        position: absolute;
        width: 100%;
        height: 1.5px;
        top: 50%;
        margin-top: -1px;
        left: 0;
        display: block;
        background: white;
        transition: 0.5s;
      }
      span:first-child {
        top: 3px;
      }
      span:last-child {
        top: 16px;
      }
      label:hover {
        cursor: pointer;
      }

      input:checked + label span {
        opacity: 0;
        top: 50%;
      }
      input:checked + label span:first-child {
        opacity: 1;
        transform: rotate(405deg);
      }
      input:checked + label span:last-child {
        opacity: 1;
        transform: rotate(-405deg);
      }

    }
    .logo{
      font-family: 'Pacifico', cursive;
      font-size: 22px;
      font-weight: 200;
      margin-left: 30px;
    }
  }

  &_loginBlock {
    @include flex (center,space-between,row);
    & a {
      color: $primary-font-color;
      font-weight: 600;
      line-height: 24px;
      margin-left: 20px;
    }
    .register {
      background-image: $btn-color;
      border-radius: 8px;
      padding: 10px;
    }
  }
}
