.nav {
    background: linear-gradient(100deg, pink, #99e8da);
    grid-area: nav;
}

.nav .item {
    padding: 15px 10px 10px 10px;
}

.nav .item:last-child {
    padding: 15px 10px 10px 10px;
}

.item a {
    text-decoration: none;
}

.item a:active {
    color: black;
}

.item a.active {
    font-size: 20px;
    color: #11605f;
}


.grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            'ava ava ava'
            'user user user';
}
.friendName {
    display: block;
    font-size: 26px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}
