@import '../../style/variables';
.nav {
    padding: 0 5px 5px 13px;
    border: 1px solid $border-color;
    border-top: none;
    grid-area: nav;
    .sidebar {
        border-bottom: 2px solid $border-color ;
        margin-bottom: 10px;
        .item {
            font-weight: 500;
            & a {
                opacity: 1;
                padding: 10px 12px 10px 12px;
                border-radius: 5px;
            }
            .active {
                color: $active-fontColor;
                background-color: $profile-primaty;
            }

        }
    }
    .sidebarFriends {
        padding: 5px 5px 5px 13px;
        & *   {
            padding: 10px 0 10px 0;
        }
    }
}


