@import "../../../style/mix";
@import "../../../style/variables";
.profileInfoBlock{
  width: 100%;
  height: 500px;
  background: $profile-primaty;
  border-radius: 20px;
  position: relative;

  .profileInfoBlock__img{
    width: 100%;
    filter: blur(0.2rem);
    & img {
      @include BlockSize(300px,978px);
      object-fit: cover;
      border-radius: 20px;
    }
  }
  .imageBock{
    position: absolute;
    left: 39%;
    top: 13%;
    width: 200px;
    height: 200px;
    @include flex (center,space-evenly,column);
    background: $profile-secondary;
    border-radius: 50%;

  }
  .status{
    @include flex (center,center,row);
    margin-top: 50px;
  }

}