@import '../../style/mix';
@import '../../style/variables';
.loginPage{
  padding: 15px;
  @include flex (center,center,column);
  .title{
    align-self: flex-start;
  }
  .loginPage__form{

    @include flex (center,center,column);
    @include BlockSize(400px,400px);
    & > label > input  {
      margin-left: 10px;
    }
    & > *{
      margin-bottom: 10px;
    }
  }
}